   /* UTILITIES */
   * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    body {
    font-family: cursive;
    
    }
    a {
    text-decoration: none;
    }
   



    /* NAVBAR STYLING STARTS */
    .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
    
    color: #fff;
    }
    .nav-links a {
    color: #fff;
    }
    /* LOGO */
    .logo {
    font-size: 35px;

    }

    


.search {
    width: 100%;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid #8693ab;
    border-right: none;
    padding: 5px;
    height: 46px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: #28313b;
  }
  
  .searchButton {
    width: 50px;
    height: 46px;
    border: 1px solid #8693ab;
    background-color: #bdd4e7;
    background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);

    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;

  }
  
  /*Resize the wrap to see the search bar change!*/
  .wrap{


    
    border-radius:5px;    
    

    padding:20px;
    margin:50px;
  }

  /* footer */
  footer{
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 54%);
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    
 
    font-family: Arial, Helvetica, sans-serif;
    padding-top:10px;
    padding-bottom:3px;

 
    margin: 0;
    text-align: center;
    color: #bdd4e7;
  }
  footer a{
      color: rgb(223, 227, 230);
  }





